[submodule "images/firefox-send/send"]
	path = images/firefox-send/send
	url = https://github.com/mozilla/send.git
[submodule "images/x-ui/x-ui"]
	path = images/x-ui/x-ui
	url = https://github.com/vaxilu/x-ui
[submodule "images/netease-cloud-music-tasks/NeteaseCloudMusicTasks"]
	path = images/netease-cloud-music-tasks/NeteaseCloudMusicTasks
	url = https://github.com/chen310/NeteaseCloudMusicTasks.git
	branch = main
[submodule "images/download-bot/DownloadBot"]
	path = images/download-bot/DownloadBot
	url = https://github.com/gaowanliang/DownloadBot.git
[submodule "images/maddy/maddy"]
	path = images/maddy/maddy
	url = https://github.com/foxcpp/maddy.git
	branch = master
