[submodule "firefox_send/send"]
	path = firefox_send/send
	url = https://github.com/mozilla/send.git
[submodule "x-ui/x-ui"]
	path = x-ui/x-ui
	url = https://github.com/vaxilu/x-ui
[submodule "netease-cloud-music-tasks/NeteaseCloudMusicTasks"]
	path = netease-cloud-music-tasks/NeteaseCloudMusicTasks
	url = https://github.com/chen310/NeteaseCloudMusicTasks.git
	branch = main
[submodule "download-bot/DownloadBot"]
	path = download-bot/DownloadBot
	url = https://github.com/gaowanliang/DownloadBot.git
[submodule "maddy/maddy"]
	path = maddy/maddy
	url = https://github.com/foxcpp/maddy.git
	branch = master
